.calculator_text{
	font-size: 15px;
	margin-bottom: 30px;
}
.calc_wrapper{
	padding-bottom: 80px;
}
.calc_step{
	padding:0 82px;
	background: #F4F6F7;
}
.calc_step.main_step{
	padding-top: 44px;
	padding-bottom: 44px;
}
.step1_inner{
	display: flex;
	align-items: stretch;
}
.step1_inner form{
	width: 100%;
	display: flex;
}
.calc_select{
	width: 100%;
}
.calc_select.righter{
	margin-right: 20px;
}
.step_title{
	font-size: 20px;
	color:#364556;
	margin-right: 20px;
	white-space: nowrap;
	display: flex;
	align-items: center;
}
.class_block{
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-size: 12px;
	padding:0 9px;
	border: 2px solid #C4C4C4;
	margin-left: 26px;
}
.class_block span{
	opacity: 0.4
}

.calc_step.step2{
	padding-top: 30px;
	padding-bottom: 70px;
}
.step2 .step_title{
	margin-bottom: 56px;
}
.calc_car{
	display: flex;
	justify-content: center;
	padding-bottom: 67px;
}
.calc_car_inner{
	position: relative;
	margin: 95px;
}
.calc_car_inner img{
	display: block;
}
.calc_car_inner svg{
	display: block;
	position: absolute;
	top:13px;
	left:26px;
}
.calc_car_inner  path{
	fill: transparent;
}
.calc_car_inner .active path{
	fill:#E4B821;
}
.calc_car_inner path{
	cursor: pointer;
}
.calc_car_inner .active path{
	fill:#E4B821;
}
.checkboxes{
	display: flex;
	flex-wrap: wrap;
}
.checkbox_wrapper{
	min-width: 180px;
	margin-right: 15px;
	position: relative;
	margin-bottom: 10px;
}
.checkbox_wrapper:last-child{
	margin-right: 0;
}
.checkbox{
	background: linear-gradient(90deg, #FDFDFD 0%, #F8F8F8 99.17%);
	border: 1px solid #DCE5E9;
	box-sizing: border-box;
	border-radius: 6px;
	height: 40px;
	display: flex;
	padding:10px 10px 10px 6px;
	align-items: center;
	cursor: pointer;
}
.checkbox:hover{
	border: 1px solid #E4B820;
}
.checkbox_wrapper:first-child{
	min-width: 200px;
}
.checkbox_slide{
	width: 45px;
	height: 21px;
	background: #FFFFFF;
	border: 1px solid #DCE5E9;
	box-sizing: border-box;
	border-radius: 10px;
	margin-right: 13px;
	display: flex;
	align-items: center;
	padding:0 3px;
}
.checkbox_slide_inner:before{
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	background: #DCE5E9;
	border: 1px solid #364556;
	box-sizing: border-box;
	border-radius: 200px;
}
.checkbox .tt{
	font-size: 14px;
	color:#364556;
	padding-right: 15px;
}
.checkbox .ask{
	width: 20px;
	height: 20px;
	border-radius: 200px;
	margin-left: auto;
	border: 1px solid #8CA4B8;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	line-height: 13px;
	color:#8CA4B8;
	position: relative;
}
.checkbox_slide_inner{
	display: flex;
	border-radius: 200px;
	width: 100%;
}
.checkbox_wrapper input[type="checkbox"]{
	position: absolute;
	opacity: 0;
	width: 0px;
	height: 0px;
}
input[type="checkbox"]:checked + .checkbox{
	border: 1px solid #E4B820;
}
input[type="checkbox"]:checked + .checkbox .checkbox_slide_inner{
	background: #E4B820;
}
input[type="checkbox"]:checked + .checkbox .checkbox_slide_inner:before{
	background: #F4F6F7;
	border: 1px solid #364556;
	box-sizing: border-box;
	box-shadow: inset 1px 3px 2px rgba(255, 255, 255, 0.59);
	margin-left: auto;
}

.additional .step_title{
	margin-bottom: 20px;
}
.ask_popup{
	position: absolute;
	bottom:32px;
	background: #FFFFFF;
	border: 1px solid #748A9D;
	padding:15px;
	font-size: 12px;
	line-height: 16px;
	color:#364556;
	white-space: nowrap;
	z-index: 500;
	display: none;
	width: 310px;
}
.ask_popup:after{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #748A9D transparent transparent transparent;
	position: absolute;
	left:50%;
	margin-left: -10px;
	bottom:-10px;
}
.ask_popup:before{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: white transparent transparent transparent;
	margin-left: -10px;
	bottom:-8.5px;
	left:50%;
	position: absolute;
	z-index: 2;
}
.ask_slide{
	width: 270px;
	height: 15px;
	margin:8px 0 10px 0;
	background: #F4F6F7;
	display: flex;
	font-size: 10px;
	color:white;
}
.checkbox .ask:hover .ask_popup{
	display: block;
}
.ask_slide span{
	background: #748A9D;
}

.ask_slide span.percents{
	background: #E4B820;
	display: flex;
	align-items: center;
	justify-content: center;
}
.counter{
	display: flex;
	min-width: 100%;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin-top: 7px;
}
.counter svg{
	display: block;
}
.counter .minus{
	border-radius: 200px;
	width: 14px;
	height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #E4B820;
	cursor: pointer;
}
.counter .pluss{
	border-radius: 200px;
	width: 14px;
	height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #E4B820;
	cursor: pointer;
}
.counter .tt{
	font-size: 12px;
	line-height: 9px;
	color: #364556;
}
.counter input{
	width: 25px;
	min-width: 25px;
	background: none;
	border:none;
	outline:none;
	text-align: center;
	font-size: 12px;
	color: #364556;
}
.counter_inner{
	display: flex;
}
.step3{
	padding-top: 50px;
	padding-bottom: 50px;
}
.what_is{
	font-size: 15px;
	color: #E4B821;
	text-decoration: underline;
	margin-left: 27px;
}
.what_is:hover{
	text-decoration: none;
}
.step3 .step_title{
	margin-bottom: 50px;
}

.checkbox_wrapper input[type="radio"]{
	position: absolute;
	opacity: 0;
	width: 0px;
	height: 0px;
}
.checkbox_slide.radio{
	padding: 5px;
	width: 26px;
	height: 26px;
	background: white;
	border-radius: 200px;
	background: #FFFFFF;
	border: 1px solid #DCE5E9;
}
.checkbox_slide.radio .checkbox_slide_inner:before{
	width: 14px;
	height: 14px;
	min-width: 14px;
	border:none;
	background: white;
}

input[type="radio"]:checked + .checkbox .checkbox_slide_inner:before{
	background: #E4B820;
}
.step3_blocks{
	display: flex;
	background: white;
	margin-bottom: 11px;
	margin-top: 46px;
}
.step3_block{
	min-width: 33.333333%;
	padding:28px 22px 33px 18px;
	border:6px solid transparent;
	cursor: pointer;
}
.step3_block.active{
	border:6px solid #E4B821;
}
.step3_block_title{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #364556;
	margin-bottom: 38px;
	text-transform: uppercase;
}
.stripe .tt{
	margin-bottom: 8px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.02em;
	color: #334050;
	opacity: 0.7;
}
.stripe_line{
	margin-bottom: 40px;
	height: 6px;
	position: relative;
	background: #F4F6F7;
	display: flex;
}
.stripe_line span{
	background: #364556;
	height: 100%;
	position: relative;
}
.stripe_line span i{
	position: absolute;
	bottom:17px;
	right:-20px;
	width: 42px;
	height: 24px;
	background: #F4F6F7;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#748A9D;
	font-size: 12px;
	font-style: normal;
}
.stripe_line span i:after{
	content: '';
	position: absolute;
	bottom:-6px;
	left:50%;
	margin-left: -5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5.5px 0 5.5px;
	border-color: #F4F6F7 transparent transparent transparent;
}
.w-60{
	width: 60%;
}
.w-80{
	width: 80%;
}
.w-100{
	width: 100%;
	background: #E4B821 !important;
}
.layouts{
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
	color: #364556;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.layouts svg{
	margin-right: 20px;
}
.depth{
	font-weight: 700;
	font-size: 13px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color:#364556;
}
.materials{
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	color:#E4B821;
}
.calc_toggle{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 13px;
	line-height: 13px;
	color:#364556;
	background: white;
	cursor: pointer;
}
.calc_toggle.open{
	margin-bottom: 7px;
}
.calc_toggle > span{
	display: flex;
	align-items: center;
}
.calc_toggle i{
	margin-left: 10px;
	transform: rotate(-180deg);
	height: 3px;
	display: block;
	margin-top: 2px;
}
.calc_toggle.open i{
	transform: rotate(0deg);
}
.calc_toggle svg{
	display: block;
}
.calc_lines{
	display: flex;
	padding:40px 0;
	background: white;
	display: none;
}
.calc_lines.open{
	display: flex;
}
.calc_line{
	min-width: 33.333333%;
	padding:0 20px;
}
.calc_line .item{
	margin-bottom: 14px;
}
.calc_line .item:last-child{
	margin-bottom: 0px;
}
.calc_line .tt{
	display: flex;
	margin-bottom: 6px;
	font-size: 12px;
	line-height: 14px;
	color: #8CA4B8;
	align-items: center;
}
.calc_line .tt > span{
	margin-left: auto;
	color:#364556;
}
.calc_line .tt div span{
	color: #E4B820;
}
.calc_line .line{
	height: 5px;
	background: #F4F6F7;
	display: flex;
}
.calc_line .line span{
	height: 100%;
	background: #364556;
}
.calc_line_last .line span{
	background: #E4B820;
}
.calc_line_last .tt > span{
	color:#E4B820;
}
.calc_line_last .tt{
	color:#364556;
}
.calc_desc{
	margin-top: 28px;
	font-size: 12px;
	line-height: 14px;
	color:#8CA4B8;
	display: none;
}
.calc_desc.open{
	display: block;
}
.calc_desc span{
	color:#E4B820;
}
.calc_sides{
	display: flex;
}
.calc_left{
	min-width: 265px;
}
.calc_step.step4{
	padding-top: 50px;
	padding-bottom: 50px;
}
.calc_examples{
	margin-top: 80px;
}
.calc_examples .tt{
	font-size: 30px;
	line-height: 34px;
	letter-spacing: 0.02em;
	color: #364556;
	margin-bottom: 30px;
}
.calc_ex_inner{
	display: flex;
}
.calc_ex_inner img{
	display: block;
}
.calc_ex_inner .image{
	min-width: 385px;
	margin-right: 20px;
}
.calc_ex_inner .text{
	background: #FFFFFF;
	border: 2px solid #F4F6F7;
	padding:15px 105px 15px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.calc_ex_inner .text .tt{
	margin-bottom: 20px;
}
.calc_ex_inner .text .inn{
	display: flex;
}
.calc_ex_inner .text .btn{
	margin-left: auto;
	margin-top: auto;
}
.calc_ex_inner .text p{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
}
.calc_ex_inner .text .txt a{
	display: inline-flex;
	align-items: center;
	color:#E4B820;
	font-size: 15px;
	line-height: 17px;
}
.calc_ex_inner .text .txt a svg{
	margin-right: 22px;
}
.calc_ex_inner .text .txt a span{
	border-bottom: 1px solid #E4B820;
}
.calc_ex_inner .text .txt a:hover span{
	border-bottom: 1px solid transparent;
}
.calc_map{
	padding:72px 0 90px 0;
	background: url(../img/map_img.jpg) no-repeat top center;
	background-size: cover;
	margin-top: 80px;
	margin-bottom: 80px;
}
.calc_map .tt{
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	font-family: HelveticaNeueCyr-Light,sans-serif;
	margin-bottom: 36px;
}
.calc_map .btn{
	min-width: 250px;
	margin:0 auto;
}
.calc_step.step4 .advan_serv{
	margin-top: 50px;
	margin-bottom: 0;
}
.calc_right{
	width: 100%;
}
.calc_right .btn{
	border:none;
	outline:none;
	min-width: 390px;
	margin-top: 40px;
}
.radio label{
	display: flex;
	align-items: center;
}
.radio label > span{
	text-transform: uppercase;
	color: #364556;
	font-size: 14px;
	line-height: 24px;
	min-width: 400px;
	font-weight: bold;
}
.radio label .price{
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #364556;
}
.radio{
	position: relative;
}
.radio input[type="radio"]{
	width: 0px;
	height: 0px;
	opacity: 0;
	left:-9999px;
	position: absolute;
}
.label_for_radio{
	position: relative;
	cursor: pointer;
}

.calc_right .hr{
	height: 1px;
	background: #E4B820;
	margin:40px 20px 40px 0;
}
.calc_bottom_block{
	position: fixed;
	bottom:0px;
	left:0px;
	width: 100%;
	padding:10px 0 15px 0;
	background: #364556;
	z-index: 10000;
}
.calculator_block + footer{
	padding-bottom: 80px;
}
.calc_footer{
	display: flex;
	padding-right: 40px;
	align-items: center;
}
.footer_links .tt{
	color:white;
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 13px;
}
.footer_controls{
	display: flex;
	align-items: center;
	min-width: 350px;
}
.footer_controls a{
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	color:white;
	font-size: 16px;
	line-height: 18px;
	margin-right: 35px;
}
.footer_controls a svg{
	display: none;
}
.footer_controls a.active svg{
	display: block;
	margin-right: 10px;
	position: relative;
	top:-1px;
}
.footer_controls a:last-child{
	margin-right: 0px;
}
.footer_controls a.active, .footer_controls a:hover{
	color:#E4B820;
}
.footer_controls a.active{
	font-weight: 700;
}
.calc_status .tt{
	font-size: 14px;
	line-height: 25px;
	color:white;
	display: flex;
	align-items: center;
}
.calc_status .ask{
	margin-left: auto;
	position: relative;
	width: 20px;
	height: 20px;
}
.calc_status .ask.open .ask_popup{
	display: block;
	left:50%;
	margin-left: -155px;
	white-space: normal;
}
.calc_status .ask i{
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #8CA4B8;
	border-radius: 200px;
	color:#8CA4B8;
	font-style: normal;
	line-height: 14px;
}
.statusbar{
	background: #556879;
	margin-top: 5px;
	height: 26px;
	display: flex;
	min-width: 405px;
}
.statusbar span{
	height: 100%;
	background: #E4B820;
}
.calc_footer .btn{
	border:none;
	outline: none;
	margin-left: 50px;
}
.bottom_price{
	margin-left: auto;
}
.bottom_price > span{
	font-size: 14px;
	font-size: 14px;
	line-height: 17px;
	color:white;
	opacity: 0.6;
	display: block;
	margin-bottom: 2px;
	padding-right: 6px;
}
.bottom_price div{
	font-weight: 700;
	color:white;
	font-size: 19px;
	line-height: 23px;
}
.old_price_bottom{
	text-decoration: line-through;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color:#7E8A98;
	display: none;
	margin-top: -16px;
}
#percents{
	font-style: normal;
}
.main_step{
	margin-bottom: 150px;
}
.main_step.opened{
	margin-bottom: 0px;
}
.calc_wrapper.opened{
	padding-bottom: 0;
}
.ask_popup div span.prc{
	color:#E4B820;
}
.show_materials{
	margin-left: 30px;
	outline:none;
	width: 30px;
	height: 30px;
	border: 2px solid #E4B820;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
}
.radio label.short  > span{
	min-width: unset;
	font-weight: 400;
}
.show_materials.open span{
	transform: rotate(-180deg);
}
.materials_table{
	border-collapse: separate;
	margin-top: 30px;
	display: none;
}
.materials_table.open{
	display: table;
}
.materials_table thead{
	font-size: 14px;
	font-weight: bold;
	color: #364556;
	line-height: 24px;
}
.materials_table thead td:last-child{
	font-size: 20px;
}
.materials_table thead td:first-child{
	min-width: 400px;
}
.materials_table thead td{
	padding-bottom: 0;
}
.materials_table .title td{
	padding-bottom: 15px;
	color:#E4B820;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	padding-top: 40px;
}
.materials_table td{
	font-size: 12px;
	line-height: 15px;
	color:#7E8A98;
	padding-bottom: 10px;
}
.materials_table td:first-child{
	width: 218px;
}
.materials_table td.line:first-child{
	min-width: 100px;
	width: 100px;
	padding-top: 30px;
	border-bottom: 1px solid #9CB0C2;
}
.mb-15{
	margin-bottom: 15px;
}
.calc_line_tt{
	display: none;
}
.calculator_text + .link{
	display: none;
}
@media screen and (max-width: 1199px){
.statusbar{
	min-width: 300px;
}
.calc_status .tt{
	font-size: 12px;
}
.footer_controls{
	min-width: 250px;
}
.footer_links .tt{
	font-size: 12px;
}
.footer_controls a{
	font-size: 12px;
	margin-right: 20px;
}
.calc_ex_inner .text{
	padding-right: 50px;
	padding-left: 50px;
}
.calc_examples .tt{
	font-size: 25px;
}
.checkbox_wrapper{
	min-width: 200px;
}
}
@media screen and (max-width: 991px){
.calculator_text{
	font-size: 14px;
	line-height: 16px;
	overflow: hidden;
	height: 48px;
}	
.calc_step.main_step{
	padding:30px 20px;
}
.step_title{
	font-size: 14px;
	line-height: 16px;
	margin-right: 0px;
	margin-bottom: 15px;
	white-space: normal;
}
.main_step{
	margin-bottom: 20px;
}
.step1_inner{
	flex-direction: column;
}
.calc_select.righter{
	margin-right: 0px;
	margin-bottom: 15px;
}
.class_block{
	margin-top: 15px;
	margin-left: 0px;
}
.calc_step{
	padding:0 20px;
}
.calc_step.step2{
	padding-top: 30px;
	padding-bottom: 5px;
}
.step2 .step_title{
	margin-bottom: 30px;
}
.calc_car{
	padding-bottom: 35px;
}
.calc_car{
	display: block;
}
.calc_car_inner img{
	max-width: 100%;
}
.calc_car_inner svg{
	width: calc(93%);
    height: unset;
    top: 9px;
    left: 13px;
}

.checkboxes{
	width: 100%;
}
.checkbox_wrapper:first-child, .checkbox_wrapper{
	min-width: 100%;
	margin-right: 0px;
}
.checkbox{
	height: 30px;
}
.checkbox_wrapper{
	margin-bottom: 15px;
}
.checkbox_slide{
	margin-right: 7px;
}
.counter input{
	width: 57px;
	min-width: 57px;
}
.additional .step_title{
	margin-bottom: 20px;
	margin-top: 10px;
}
.step3{
	padding-top: 20px;
	padding-bottom: 30px;
}
.step3 .step_title{
	display: block;
	margin-bottom: 18px;
}
.what_is{
	margin-left: 0px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 16px;
	display: inline-block;
}
.checkbox .ask{
	width: 15px;
	height: 15px;
	font-size: 11px;
}
.checkbox_slide.radio{
	width: 16px;
	height: 16px;
	padding:2px;
}
.checkbox_slide.radio .checkbox_slide_inner:before{
	width: 10px;
	height: 10px;
	min-width: 10px;
}
.radio_checkboxes{
	flex-wrap: wrap;
	justify-content: space-between;
}
.radio_checkboxes .checkbox_wrapper{
	margin-bottom: 7px;
	min-width: calc(50% - 3.5px);
	width: calc(50% - 3.5px);
}
.step3_blocks{
	margin-top: 14px;
}
.step3_blocks{
	display: block;
}
.step3_block{
	padding:20px 10px 12px 10px;
}
.step3_block_title{
	font-size: 19px;
	line-height: 22px;
	margin-bottom: 34px;
}
.stripe_line{
	margin-bottom: 20px;
}
.layouts{
	margin-bottom: 20px;
}
.depth{
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 10px;
}
.materials{
	font-size: 12px;
	line-height: 14px;
}
.calc_desc{
	font-size: 11px;
	line-height: 13px;
	font-style: italic;
}
.calc_toggle.open{
	padding:0 60px;
}
.calc_lines{
	background: none;
	padding:20px 0 0 0;
}
.calc_toggle{
	padding:0 60px;
	text-align: center;
}
.calc_line{
	width: 100%;
	padding-left: 0px;
	padding-right: 0;
}
.calc_line{
	margin-bottom: 30px;
}
.calc_line:last-child{
	margin-bottom: 0;
}
.calc_lines.open{
	display: block;
}
.calc_step.step4{
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.calc_sides{
	display: block;
}
.calc_right .hr{
	margin:30px 0;
}
.radio label{
	display: block;
}
.radio label > span{
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 10px;
	display: block;
	white-space: normal;
	min-width: unset;
}
.radio label .price{
	font-size: 16px;
	line-height: 18px;
}
.old_price_bottom{
	margin-top: 0;
}
.prices{
	text-align: right;
}
.materials_table thead td:first-child, .materials_table td:first-child{
	min-width: 100%;
	width: 100%;
}
.calc_right .btn{
	width: 100%;
	min-width: 100%;
	margin-top: 25px;
}
.radio label.short{
	display: flex;
	align-items: center;
}
.radio label.short > span{
	margin-bottom: 0;
}
.materials_table thead td:last-child{
	font-size: 16px;
	line-height: 18px;
	white-space: nowrap;
}
.materials_table .title td{
	padding-bottom: 17px;
	padding-top: 17px;
}
.materials_table td{
	font-size: 11px;
	line-height: 13px;
	padding-bottom: 12px;
}
.materials_table td:first-child{
	min-width: unset;
	width: unset;
}
.materials_table{
	width: 100%;
}
.materials_table td.line:first-child{
	padding-top: 0px;
}
.calc_step.step4 .advan_serv{
	margin-top: 25px;
}
.calc_examples{
	margin-top: 40px;
}

.calc_examples .tt{
	font-size: 19px;
	line-height: 19px;
	margin-bottom: 12px;
}
.calc_ex_inner{
	width: 100%;
	display: block;
}
.calc_ex_inner .image{
	margin-right: 0;
	width: 100%;
	min-width: 100%;
}
.calc_ex_inner img{
	width: 100%;
}
.calc_ex_inner .text{
	padding-left: 0px;
	padding-top: 32px;
	border:none;
	padding-right: 0px;
}
.calc_ex_inner .text p{
	line-height: 16px;
	margin-bottom: 25px;
}
.calc_ex_inner .text .inn{
	display: block;
}
.calc_ex_inner .text .btn{
	margin-left: 0px;
	margin-top: 25px;
}
.calc_map{
	margin-top: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 40px;
}
.calc_map .tt{
	font-size: 19px;
	line-height: 19px;
	margin-bottom: 20px;
}
.calc_wrapper{
	padding-bottom: 0px;
}
.calculator_block + footer{
	padding-bottom: 65px;
}
.calc_page{
	padding-top: 65px;
}
.footer_links{
	display: none;
}
.calc_stripe{
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	background: #364556;
	height: 65px;
	display: flex;
	align-items: center;
	padding:0 15px;
}
.calc_status .tt{
	font-size: 12px;
	line-height: 21px;
}
.statusbar{
	min-width: 100%;
	height: 14px;
}
.calc_status{
	width: 100%;
}
.calc_status .ask{
	width: 15px;
	height: 15px;
}
.calc_status .ask i{
	width: 15px;
	height: 15px;
	font-size: 8px;
}
.calc_status .ask .ask_popup{
	width: 300px;
	right:0px;
	top:100%;
	margin-top: 10px;
	left: unset;
	bottom: unset;
	white-space: normal;
}
.calc_footer .ask_popup:before, .calc_footer .ask_popup:after{
	display: none;
}
.ask_popup:before, .ask_popup:after{
	margin-left: 0px;
	left:unset;
	right:26px;
}
.bottom_price div{
	font-size: 15px;
}
.calc_footer .btn{
	height: 40px;
	margin-left: auto;
	line-height: 40px;
	width: 160px;
}
.calc_footer{
	padding-right: 0px;
}
.bottom_price{
	margin-left: 0px;
}
.calc_bottom_block{
	padding-top: 12px;
	padding-bottom: 13px;
}
.calc_line_tt{
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}
.ask_popup{
	right:-31px;
}
.calc_status .ask:hover .ask_popup{
	display: block;
}
.calculator_text + .link{
	display: flex;
	margin:0 auto;
	font-size: 14px;
	line-height: 16px;
	color: #E4B821;
	align-items: center;
	width: 85px;
	margin-top: -25px;
	margin-bottom: 48px;
}
.calculator_text + .link span{
	border-bottom: 1px solid #E4B821;
	margin-right: 12px;
}
.calculator_text{
	position: relative;
}
.calculator_text:after{
	content: '';
	position: absolute;
	bottom:-30px;
	left:0px;
	width: 100%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 62.29%);
	height: 84px;
}
.calculator_text.open:after{
	display: none;
	
}
.calculator_text.open{
	height: unset;
}
}
@media screen and (max-width: 350px){
.ask_popup{
	width: 289px;
}
.calc_toggle{
	padding:0 30px;
}
}